* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Jost", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  cursor: url("../media/flecha.svg"), auto;
  background-color: transparent;
  background-image: url("../media/fondo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
}

section {
  height: 100vh;
}

.container-fluid {
  padding: 0;
}

a {
  text-decoration: none;
  color: #fff;
}
a:hover {
  color: #fff;
  cursor: url("../media/link.svg"), auto;
}
a:active {
  cursor: url("../media/click.svg"), auto;
}

.bi {
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #fff;
}

.menu,
footer {
  font-size: 3rem;
  margin: 0 5%;
}

nav ul li a {
  position: relative;
}

nav ul li a::after {
  content: "";
  width: 0;
  height: 3px;
  position: absolute;
  bottom: 40%;
  left: -10%;
  transform: translate(10%);
  background: #fff;
  transition: width 0.5s;
}

nav ul li a:hover::after {
  width: 100%;
}

.presentacion {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  height: 80vh;
  font-size: 4rem;
  justify-content: end;
  margin: 0 5%;
}

h2 {
  text-align: center;
  font-size: 3rem;
  margin: 50px 0;
}

h3 {
  font-size: 2rem;
}

.todoservicios {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin: 0 15%;
}

.servicio {
  display: grid;
  grid-template-columns: 1fr 1fr;
  font-size: 1.5rem;
}
.servicio ul {
  list-style: none;
  padding: 20px;
}

.columna {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.columna img {
  height: 180px;
  width: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

.dos {
  text-align: right;
}
.dos .columna {
  align-items: flex-start;
}

#proyectos {
  background-color: rgba(202, 107, 173, 0.4431372549);
  box-shadow: 8px 8px 5px -5px rgba(0, 0, 0, 0.514);
}
#proyectos p a {
  text-decoration: none;
  color: #fff;
  font-family: "Jost", sans-serif;
  font-size: 1.5rem;
  position: relative;
}
#proyectos p a::after {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  bottom: 40%;
  left: -10%;
  transform: translate(10%);
  background: #fff;
  transition: width 0.5s;
}
#proyectos p a:hover::after {
  width: 100%;
}

.proyectos {
  margin: 0 15%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.proyecto {
  display: flex;
  flex-direction: row;
  max-width: 600px;
  padding: 20px;
}
.proyecto div {
  padding-left: 20px;
}
.proyecto img {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10rem;
  transition-duration: 1s;
  opacity: 70%;
}
.proyecto img:hover {
  border-radius: 0.5rem;
  opacity: 100%;
}

.githubProyectos {
  font-size: 2rem;
  display: flex;
  justify-content: center;
}
.githubProyectos a:hover {
  color: #fff;
}

#sobremi,
#proyectos {
  height: 100vh;
}

.sobremiTodo {
  display: flex;
  flex-direction: row;
  margin: 0 5%;
  justify-content: space-between;
}
.sobremiTodo img {
  width: 200px;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10rem;
  transition-duration: 1s;
}
.sobremiTodo img:hover {
  width: 300px;
  height: 300px;
}
.sobremiTodo .sobremiTexto {
  font-size: 2rem;
  max-width: 800px;
}

#contacto {
  margin: 0 5%;
  font-size: 1.5rem;
}
#contacto .todoContacto {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
#contacto .todoContacto p {
  padding: 20px;
}

.mujer {
  width: 350px;
  position: absolute;
  top: 200px;
  left: 250px;
}

#eyes, #eyes img {
  position: absolute;
  width: 50px;
}

.eye {
  top: 190px;
  left: 400px;
}

.ojoDos {
  top: 190px;
  left: 425px;
}