.menu{
    height: 80px;
    display: flex;
    align-items: center;
    .logo{
        z-index: 3;
        img{
        width: 180px;
        height: 80px;
        object-fit: cover;
    }
}
}

.navbar-dark .navbar-nav .nav-link{
    color:$azul;
    text-transform: uppercase;
    font-size: 1.2rem;
    &:hover{
        color: $celeste;
    }
}
.presentacion{
    background-image: url("/media/fondo.png");
    background-size:cover; 
    background-repeat:  no-repeat;
    margin-left: -141px;
    width: 1580px;
    height: 700px;
    display: flex;
    flex-direction: column;
    background-color: transparent;
    color: $blanco;
    h1{
        padding-top: 100px;
        margin-left: 200px;
        font-size: 4.5rem;
        background-color: transparent;
        color: $blanco;
    }
    p{
        width: 550px;
        font-size: 2.5rem;
        margin-left: 200px;
        background-color: transparent;
        color: $blanco;
    }
    a{
        color: $blanco;
        font-size: 2rem;
        margin-left: 250px;
        background-color: transparent;
        text-transform:uppercase;
        transition-duration: 0.5s;
        &:hover{
            text-transform:uppercase;
            color: $celeste;
        }
    }
}

h2{
    font-size: 3rem;
    text-align: center;
    margin-top: 50px;
    padding-bottom: 20px;
}





.servicio{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    justify-content: flex-start;
    h3{
        text-align: center;
        color: $azul;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    ul{
        list-style: "-";
    }
    img{
        width: 200px;
        height: 200px;
        object-fit: contain;
    }
}
.todoservicios{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}





#proyectos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.slide{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 1100px;
}
.carousel-caption{
    position: absolute;
    left: 450px;
    width: 500px;
}
.carousel-item{
    .carousel-caption{
        font-size: 2rem;
        text-transform: uppercase;
        h5{
            font-size: 2rem;
            text-decoration: underline;
        }
        a{
            color: $celeste;
            font-size: 1.5rem;
            transition-duration: 0.5s;
            &:hover{
                color: $violeta;
            }
        }
    }
    img{
        width: 350px;
    }
}
.carousel-item.active{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.carousel-control-next-icon{
    background-image: url("/media/flecha.svg");
    background-color: transparent;
    opacity: 100%;
    margin-left: 100px;
}
.carousel-control-prev-icon{
    background-image: url(/media/flecha2.svg);
    background-color: transparent;
    margin-left: -200px;
}








.sobremiImagen{
    img{
        width: 350px;
        height: 400px;
        object-fit: cover;
        border-radius: 3rem;
        border: solid;
        border-width: 0.4rem;
        border-color: $violeta;
    }
}
.sobremiTodo{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
}
.sobremiTexto{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p{
        width: 600px;
        font-size: 1.5rem;
        padding: 10px;
    }
}


.forms{
    display: flex;
    flex-direction: row;
}
.formLogin{
    padding: 10px;
    width: 300px;
    border-radius: 1rem;
    font-size: 1.2rem;
    margin: 2px;
    border-width: 1px;
}
.form-control{
    width: 604px;
    height: 150px;
    border-radius: 1rem;
    font-size: 1.2rem;
    margin: 2px;
    resize: none;
}



.btn-primary{
    background-color: $celeste;
    border-color: $celeste;
    width: 100px;
    font-size: 1.2rem;
    transition-duration: 0.5s;
    margin-top: 10px;
    &:hover{
        background-color: $azul;
        border-color: $azul;
        width: 100px;
        font-size: 1.2rem;
    }
}

.todoContacto{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.contactoTexto{
    width: 500px;
    display: flex;
    flex-direction: column;
    font-size: 1.8rem;
    justify-content: space-between;
}
.linksContacto{
    display: flex;
    flex-direction: row;
    justify-content: end;

}


.bi{
    color: $azul;
    font-size: 3rem;
    background-color: #830fd11e;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 0.5rem;
    margin-left: 10px;
}
footer{
    height: 100px;
    display: flex;
    justify-content: end;
    img{
        width: 100px;
    }
}