* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: $font;
}

html {
  scroll-behavior: smooth;
}
body {
  cursor: url("../media/flecha.svg"), auto;
  background-color: transparent;
  background-image: url("../media/fondo.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: $blanco;
}


.container-fluid {
  padding: 0;
}

a {
  text-decoration: none;
  color: $blanco;
  &:hover {
    color: $blanco;
    cursor: url("../media/link.svg"), auto;
  }
  &:active {
    cursor: url("../media/click.svg"), auto;
  }
}
.navbar-dark .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='3' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}
.bi {
  color: $blanco;
}
.navbar-dark .navbar-nav .nav-link {
  color: $blanco;
}
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: $blanco;
}

.menu {
  font-size: 1rem;
  margin: 0 5%;
}
nav ul li a {
  position: relative;
}
nav ul li a::after {
  content: "";
  width: 0;
  height: 1px;
  position: absolute;
  bottom: 40%;
  left: -10%;
  transform: translate(10%);
  background: $blanco;
  transition: width 0.5s;
}
nav ul li a:hover::after {
  width: 100%;
}

.presentacion {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  height: 80vh;
  font-size: 2rem;
  justify-content: end;
  margin: 0 5%;
}
.mujer {
  display: none;
}
#eyes, #eyes img{
  display: none;
}

h2 {
  text-align: center;
  font-size: 2rem;
  margin: 50px 0;
}

h3 {
  font-size: 1.5rem;
}

.todoservicios {
  display: flex;
  flex-direction: column;
}
.servicio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  ul {
    list-style: none;
    padding: 20px;
    font-size: 1.2rem;
    text-align: center;
  }
}
.dos {
  display: flex;
  flex-direction: column-reverse;
}

.columna {
  img {
    height: 180px;
    width: 200px;
    object-fit: cover;
  }
}




#proyectos {
  // background-color: #ca6bad71;
  // box-shadow: $boxshadow;
  p a {
    text-decoration: none;
    color: $blanco;
    font-family: $font;
    font-size: 1.5rem;
    position: relative;
  }
  p a::after {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 40%;
    left: -10%;
    transform: translate(10%);
    background: $blanco;
    transition: width 0.5s;
  }
  p a:hover::after {
    width: 100%;
  }
}
.proyectos {
  margin: 0 15%;
  display: flex;
  flex-direction: column;

}
.proyecto {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  padding: 20px;
  text-align: center;
  align-items: center;
  div {
    padding-left: 20px;
  }
  img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10rem;
    transition-duration: 1s;
    opacity: 70%;
  }
  img:hover {
    border-radius: 0.5rem;
    opacity: 100%;
  }
}

.githubProyectos {
  font-size: 1rem;
  display: flex;
  justify-content: center;
  a:hover {
    color: $blanco;
  }
}



.sobremiTodo {
  display: flex;
  flex-direction: column-reverse;
  margin: 0 5%;
  align-items: center;
  img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 10rem;
    transition-duration: 1s;
  }
  img:hover {
    width: 300px;
    height: 300px;
  }
  .sobremiTexto {
    font-size: 1rem;
    max-width: 800px;
  }
}

#contacto {
  margin: 0 5%;
  font-size: 1.2rem;
  .todoContacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    p {
      padding: 20px;
    }
  }
}
